process {
    beforeScript = '''
        module purge
        module load r/4.3.0-gcc-13.2.0-withx-rmath-standalone-python-3.11.6
	module load r-mass/7.3-59-gcc-13.2.0-python-3.11.6
	module load plink/1.9-beta6.10-gcc-13.2.0
	module load plink2/2.00a5.10-gcc-13.2.0
    '''
}

singularity {
    enabled = true
    autoMounts = true
}

params {
	// static input files (default values)
	tpm = "path/to/gene_tpm_whole_blood_v8.gct"
	samples = "path/to/GTEx_Analysis_v8_Annotations_SampleAttributesDS.txt"
	phs = "path/to/phs000424.v9.pht002742.v9.p2.c1.GTEx_Subject_Phenotypes.GRU.txt"
	counts = "path/to/gene_reads_whole_blood_v8.gct"
	lengths = "path/to/gene_lengths.txt"
	wgsfam = "path/to/GTEx_v8.maf1hwe.ALLinds.MT.fam"
        wgsbim = "path/to/GTEx_v8.maf1hwe.ALLinds.MT.bim"
        wgsbed = "path/to/GTEx_v8.maf1hwe.ALLinds.MT.bed"

}
